@import '~src/assets/variables/colors';
@import '~src/assets/variables/style-guide';

.header {
  width: 100%;
  height: 80px;
  background-color: $secondary-bg;
  padding: 20px;
  align-items: center;
  display: flex;
  box-sizing: border-box;

  &__text {
    font-size: $font-size-lg;
    color: $primary-font;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight-bold;
    line-height: $line-height;
  }
}
