@import '~src/assets/variables/colors';
@import "~ngx-smart-modal/ngx-smart-modal";

body {
  height: 100%;
  background: $main-bg;
  font-family: 'Montserrat', sans-serif;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
}
